asgiref==3.6.0
Babel==2.12.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==40.0.2
Django==3.2.18
django-debug-toolbar==4.0.0
django-extensions==3.2.1
django-extra-views==0.14.0
django-haystack==3.2.1
django-localflavor==4.0
django-model-utils==4.3.1
django-modeltranslation==0.18.9
django-money==3.1.0
django-oscar==3.2
django-oscar-paypal==0.9.7
django-phonenumber-field==6.4.0
django-tables2==2.3.4
django-treebeard==4.7
django-widget-tweaks==1.4.12
easy-thumbnails==2.8.5
factory-boy==3.2.1
Faker==18.6.0
forex-python==1.8
idna==3.4
paypal-checkout-serversdk==1.0.1
paypalhttp==1.0.1
phonenumbers==8.13.11
Pillow==9.5.0
purl==1.6
py-moneyed==2.0
pycountry==22.3.5
pycparser==2.21
pyOpenSSL==23.1.1
python-dateutil==2.8.2
python-stdnum==1.18
pytz==2023.3
requests==2.29.0
simplejson==3.19.1
six==1.16.0
sorl-thumbnail==12.6.3
sqlparse==0.4.4
typing_extensions==4.5.0
urllib3==1.26.15
Whoosh==2.7.4
python-dotenv
